language: cpp

matrix:
  include:
    - env: NAME="Ubuntu 64 bits"
      sudo: required
      services:
        - docker
      before_install:
        - docker run -d --name ubuntu-19-04 -v $(pwd):/travis ubuntu:19.04 tail -f /dev/null
      install:
        - docker exec -t ubuntu-19-04 bash -c "apt-get -qq update; apt-get install -y git; apt-get install -y cmake; apt-get install -y build-essential; apt-get install -y libgmsh-dev;"
      script:
        - docker exec -t ubuntu-19-04 bash -c "cd /travis;  mkdir build; mkdir release; cmake ../../ -DCMAKE_BUILD_TYPE=Release  -G \"Unix Makefiles\"; make;"
